<div class= "form">
  <%= form_with(model: group) do |form| %>
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
    <%= form.label :icon, style: "display: block" %>
      <div class= "dropdown">
        <%= form.select :icon, @icons.map { |icon| [icon['name'], icon['source']] } %>
      </div>
    </div>

    <div class= "group-name">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="submit">
      <%= form.submit %>
    </div>
  <% end %>

</div>
