<p style="color: green"><%= notice %></p>
<div class= "header">
  <%= link_to root_path do %><%= image_tag "back.png", class:"back"%><%end%>
  <h2>Categories</h2>
  <%= button_to destroy_user_session_path, method: :delete, class:"off" do %> 
    <%= image_tag "off.png", class:"off"%>
  <%end%>
</div>


<div id="groups">
  <%if @groups.any?%>
    <% @groups.each do |group| %>
      <%= link_to group_operations_path(group), id: "group-container" do %>
        <%= render group %>
      <%end%>
      <div class= "group-footers">
        <div>
          <small><%= group.timelapse%> ago</small>
        </div>
        <div class= "show-delete">
          <%= link_to "View", group %>
          <%= button_to "Delete", group, method: :delete, class: "delete" %>

        </div>
      </div>
    <% end %>
  <%else%>
    <p>You don't have any Categories yet, Add now</p>
  <%end%>
</div>

<div class= "new-group">
  <%= link_to "Add new category", new_group_path %>
</div>
